* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-header {
  margin-top: 20px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.inc-exp {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}


.heading {
  font-size: 2rem;
}

.balance-heading {


    color: darkorange;
    font-size: 2rem;
}
.blnce{
    font-size: 1.5rem;
    color: green;
    font-style: italic;
}


.p{
    font-size: 1.3rem;
    font-weight: bold;
}
.inc{
    color: green;
}
.ex{
    color: red;
}

.hr{
    border-left: 1px solid lightgray;
    min-height: 80%;
}